.info {
width: 70%;
margin: 50px auto;
}

.title {
    font-size: 32px;
    font-weight: bold;
}

.infoCard {
    background: #FFFFFF;
    margin: 30px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;    
}

.description {
    width: 50%;
    margin: 10px 30px;
}
.descriptionLabel {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.details {
    margin: 40px 30px 10px 30px;
    padding-left: 20px;
    border-left: 1px solid #ccc;
}

.details > div {
    margin-bottom: 10px
}

.details strong {
   width: 120px;
   display: inline-block;
}


Button {
    float: right
}