.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}

.username {
  font-weight: 700;
  font-size: 20px;
  color: #333E48;
  margin-right: 10px;
}

.rightBlock {
  display: flex;
  align-items: center;
}