.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}

.username {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #333E48;
}